body {
    background-color: rgb(206, 206, 206);
    color: rgb(193, 70, 224);
    font-family:"Bai Jamjuree", "sans-serif";
    display: inline;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

}